In [2]:
import ujson
import pandas

In [9]:
data = pandas.read_json('stargazers_paginated.json')

In [10]:
data

                 login          starred_at  type
0          jamesrwhite 2014-06-08 20:40:09  User
1           icambridge 2014-06-08 20:48:44  User
2                waako 2014-06-08 22:13:40  User
3          ampersarnie 2014-06-08 22:30:46  User
4          kwilczynski 2014-06-09 00:58:23  User
5          brandonb927 2014-06-09 06:13:53  User
6          joshnesbitt 2014-06-09 08:56:19  User
7              cmwalsh 2014-06-09 09:28:39  User
8           izifortune 2014-06-09 10:48:50  User
9        drmonkeyninja 2014-06-09 10:52:32  User
10              pveyes 2014-06-09 11:51:56  User
11           rmlewisuk 2014-06-09 11:57:40  User
12              dotLou 2014-06-09 12:07:22  User
13        eelcojellema 2014-06-09 12:08:49  User
14        danielhpavey 2014-06-09 12:27:21  User
15      stevenschobert 2014-06-09 12:41:50  User
16              sharow 2014-06-09 12:44:36  User
17              Staudi 2014-06-09 13:01:59  User
18           esoterick 2014-06-09 13:46:01  User
19            askesian 2014-06-09 14:02:11  User
20               grsmv 2014-06-09 14:55:36  User
21           mortonfox 2014-06-09 14:58:11  User
22            stumpyfr 2014-06-09 15:07:56  User
23               Jacke 2014-06-09 15:16:32  User
24          kossnocorp 2014-06-09 15:18:49  User
25                blia 2014-06-09 15:27:41  User
26            chelmuth 2014-06-09 15:39:23  User
27             roar109 2014-06-09 15:43:35  User
28           mike182uk 2014-06-09 16:16:49  User
29             Grifs99 2014-06-09 16:21:27  User
...                ...                 ...   ...
1043           avelino 2016-01-26 12:08:14  User
1044      augustopedro 2016-01-26 12:30:30  User
1045                sh 2016-01-26 13:52:00  User
1046          agonbina 2016-01-26 14:08:13  User
1047           bpierre 2016-01-26 15:23:00  User
1048        woliveiras 2016-01-26 16:22:20  User
1049       emmceemoore 2016-01-26 16:33:21  User
1050           fabiodr 2016-01-26 16:53:14  User
1051              fnky 2016-01-26 17:37:20  User
1052           guisehn 2016-01-26 20:19:13  User
1053               snd 2016-01-27 00:05:58  User
1054             Doppp 2016-01-27 01:13:51  User
1055             sijad 2016-01-27 08:38:52  User
1056           esp10mm 2016-01-27 12:59:29  User
1057           bcomnes 2016-01-27 17:59:52  User
1058    Rodrigo-Vargas 2016-01-27 22:03:19  User
1059        MikeGolden 2016-01-27 22:18:54  User
1060     leonascimento 2016-01-28 17:06:38  User
1061            skerit 2016-01-28 17:11:21  User
1062   jonathanewerner 2016-01-28 17:18:58  User
1063         matthaias 2016-01-28 18:05:53  User
1064             zckrs 2016-01-28 18:18:43  User
1065          dpastoor 2016-01-28 19:02:22  User
1066            demark 2016-01-28 20:40:34  User
1067          florentb 2016-01-28 21:05:07  User
1068            cadorn 2016-01-28 21:47:55  User
1069       scrussell24 2016-01-28 21:55:52  User
1070         amilajack 2016-01-28 22:02:04  User
1071          pkoretic 2016-01-28 22:46:50  User
1072  sandrinodimattia 2016-01-28 23:12:34  User

[1073 rows x 3 columns]

In [11]:
data.to_csv("test_stars.csv")